*{
    margin: 0;
    padding: 0;
}
body{
    background-color: wheat;
}
.copyright{
    /* padding: 20px;
    background-color: gray; */
}
.copyright a{
    color: aquamarine;
    text-decoration: none;
}

footer{
    
    background-color: gray;
    transform: translateY(43vh);
}